@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Halant:500,400);

html, body {
    height: 100%;	
}
body {
	background-color: white;
	font-family: 'Open Sans', Arial, sans;
	font-weight: 300;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
h1 {
	color: #323847;
}
h4 {
	font-family: 'Open Sans', Arial, sans;
    font-weight: 700;
	text-transform: uppercase;
}
h3 {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    color: #323847;
    margin-top: 2px;
    margin-bottom: 2px;
}
h2 {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    color: #323847;
    margin-top: 2px;
}
.dblogin:link {
    color: #ffffff;
    text-decoration: none;
}
.dblogin:visited {
    color: #ffffff;
}
.dblogin:hover {
    color: #5da9cf;
}

.title {
    font-family: 'Halant', serif;
    font-weight: 500;
    font-size: 150%;
    color: #192f5f;
}

.smallBold {
	font-family: 'Open Sans', Arial, sans;
	font-weight: 600;
	font-size: 80%;
}
.boldTxt {
	font-family: 'Open Sans', Arial, sans;
    font-weight: 400;
    color: #222222;
}

input#searchBtn {
	cursor:pointer;
    background: #74abc7;;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: none;
    width: 70px;
    height: 30px;  
    padding: 2px;
    margin: 0 5px;
    color: #ffffff;
}
input#searchBtn:hover, input#searchBtn:focus {
	background-color: #94c1d7;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c9c9c9;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 90%;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c9c9c9;
   opacity:  1;
   font-family: 'Open Sans';
   font-weight: 300;
   font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c9c9c9;
   opacity:  1;
   font-family: 'Open Sans';
   font-weight: 300;
   font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #c9c9c9;
   font-family: 'Open Sans';
   font-weight: 300;
   font-style: italic;
}

.mainDiv {
	min-height: 100%;
	height: auto !important;
    height: 100%;
	width:800px;
	margin:0 auto;
	padding-top: 120px;
}

/* RESULTS PAGE */
#results {
    width: 800px;
    margin: 10px auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.resultRow {
	position: relative;
	width: 800px;
	height: 250px;
    background-color: #f7f7f7;
    margin-top: 20px;
}
.resultRow:hover {
	background-color: #dae6ec;
}
.resultRow a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.resultImg {
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px 10px 50px 10px;
}
.resultImgInner {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.resultName {
	font-family: 'Open Sans', Arial, sans;
    font-weight: 700;
    font-size: 120%;
    float:left;
    width: 680px;
    margin-top: 7px;
}
a:link {
	color: #ffffff;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
}
a:hover {
	color: #617ec1;
}
a:active {
	color: #7d96a3;
}
.navlinks {
    float:left;
    width: 120px;
    
    font-family: 'Halant', serif;
    font-weight: 400;
    font-size: 110%;
    color: #ffffff;
}

#menuPage {
    width: 600px;
    margin: 10px auto;
    padding-bottom: 50px;
}
.menuRow {
    width: 600px;
    background-color: #f8f8f8;
    margin-top: 10px;
    padding: 10px;
}
/* RESTAURANT PAGE */
.rName {
	font-family: 'Open Sans', Arial, sans;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 180%;
    color: #192f5f;
}
.reviews {
    font-family: 'Open Sans', Arial, sans;
    font-weight: 700;
    font-size: 150%;
    color: #192f5f;
}
.reviewRow {
    width: 790px;
    background-color: #f8fbfd;
    margin-top: 20px;
    padding: 5px;
}



.verifiedImg {
	margin-left: 11px;
	background-image: url('../img/verified.png');
	background-repeat: no-repeat;
    width: 100px;
    height: 37px;
    padding-top: 10px;
    padding-left: 40px;
    
    font-family: 'Open Sans', Arial, sans;
    font-weight: 600;
    font-size: 80%;
    color: #939fbb;
}
.stars {
    width: 134px;
    height: 25px;
    overflow:hidden;
    float:left;
}
.starsImg {
    background-image: url('../img/stars.png');
    background-repeat: no-repeat;
    width: 134px;
    height: 275px;
}
.stars0 {
    position:relative;
    top: 0px;
}
.stars05 {
    position:relative;
    top: -25px;
}
.stars1 {
    position:relative;
    top: 50px;
}
.stars15 {
    position:relative;
    top: -75px;
}
.stars2 {
    position:relative;
    top: -100px;
}
.stars25 {
    position:relative;
    top: -125px;
}
.stars3 {
    position:relative;
    top: -150px;
}
.stars35 {
    position:relative;
    top: -175px;
}
.stars4 {
    position:relative;
    top: -200px;
}
.stars45 {
    position:relative;
    top: -225px;
}
.stars5 {
    position:relative;
    top: -250px;
}



.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 7px 14px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   
   text-decoration: none;
   vertical-align: middle;
   }
.button:link, .button:visited {
	color: #fff;
}
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
input#voteBtn {
    cursor:pointer;
    background: #74abc7;;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: none;
    width: 46px;
    height: 24px;  
    padding: 2px;
    margin: 0;
    color: #ffffff;
}
#overlay {
    background-color: #000;
    opacity: .6;
    filter: alpha(opacity=70);
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
    position: fixed;
    z-index: 10;
}
#alertW {
	position: fixed;
	z-index: 11;
	top: 0; left: 0; bottom: 0; right: 0;
	padding-top: 150px;
	width: 100%; height: 100%;
	display:block;
}
#alertIW {
	width: 300px;
    height: 180px;
    margin: 0 auto;
    background-color: #ffffff;
    padding-top: 10px;
    text-align: center;
}
.pgRow {
    position: relative;
    width: 800px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: -20px;
}
.pgN {
	position:relative;
    float:left;
    background-color: #192f5f;
	width: 40px;
	padding-top: 5px;
	height: 35px;
	text-align: center;
	color: #fff;
}
.pgN:hover {
    background-color: #dadee8;
}
.pgN a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.storyRow {
	overflow: auto;
    width: 800px;
    background-color: #ffffff;
    margin-top: 20px;
}
.storyLeft {
	float: left;
    width: 170px;

}
.storyRight {
	float: right;
    width: 610px;
    padding-left: 10px;
    padding-right: 10px;
}
.provResLeft {
	float: left;
    width: 170px;
height:250px;
}
.provResRight {
	float: right;
    width: 610px;
    height:250px;
    padding-left: 10px;
    padding-right: 10px;
}
hr {
	display: block;
	border: 0;
	border-top: 1px solid #dadee8;
	margin: 20px 0; padding: 0;
}